.gwt-Button:focus {
	outline: 1px dotted transparent !important;
	border: 1px solid #F44283!important;
}

input.gwt-DateBox:focus {
	outline: 1px dotted transparent !important;
}

input.gwt-TextBox:focus {
	outline: 1px dotted transparent !important;
}

input[type=text]:focus, textarea:focus {
	padding: 3px 0px 3px 3px !important;
	margin: 5px 1px 3px 0px !important;
	border: 1px solid #000000!important;
}


body, table td, select, button {
	font-size: 13px !important;
	font-family: Calibri;
}

.dialogBottomRightInner {
	box-shadow: 10px 10px 5px gray !important;
	background: #F44283 !important;
	border-bottom-right-radius: 50px !important;
}

.dialogBottomLeftInner {
	box-shadow: 10px 10px 5px gray !important;
	background: #F44283 !important;
	border-bottom-left-radius: 50px !important;
}

.gwt-DialogBox .Caption {
	color: #F44283;
	background: #F44283 !important;
	padding: 4px 8px 4px 4px;
	cursor: default;
	font-family: Calibri;
	font-weight: bold;
	font-size: 14px;
	border-top: 0px solid #F44283 !important;
}

.gwt-DialogBox .dialogBottomCenter {
	box-shadow: 10px 10px 5px gray !important;
	background: #F44283 !important;
}

.gwt-DialogBox .dialogTopLeft {
	background: #F44283 !important;
	border-top-left-radius: 50px !important;
}

td.dialogMiddleLeft {
	box-shadow: 10px 10px 5px gray !important;
	background: #F44283 !important;
}

.gwt-DialogBox .dialogTopRight {
	box-shadow: 10px 10px 5px gray !important;
	background: #F44283 !important;
	border-top-right-radius: 50px !important;
}

.gwt-DialogBox .dialogMiddleRight {
	background: #F44283 !important;
}

.dialogMiddleCenterInner table tbody tr td .gwt-Label {
	margin-top: 3%;
}

.dialogMiddleCenterInner table tbody tr td .gwt-Button {
	margin-left: 34% !important;
	margin-top: 5% !important;
	margin-bottom: 2% !important;
}

td .gwt-Button {
	align-items: center !important;
	margin-top: 1% !important;
}

div.container {
	display: inline-block;
	color: #F44283 !important;
}

img {
	padding: 2px;
	box-shadow: 4px 5px 4px rgba(72, 153, 199, 0.48);
	border: #000000 solid 2px;
	border-radius: 20px;
}

.gwt-ListBox {
	border: #F44283 solid 1px;
	background: #F44283 !important;
}

.gwt-DateBox {
	background: #f3f9ff !important;
	padding: 5px 4px;
	border: 1px solid #F44283 !important;
	border-top: 1px solid #F44283 !important;
	font-size: 100%;
	border-radius: 50px !important;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
	background: #fffff1 !important;
	padding: 0px 4px 2px;
	cursor: default;
	color: #F44283;
	font-size: 70%;
	font-weight: normal;
}

.datePickerMonthSelector {
	width: 100%;
	padding: 1px 0 5px 0;
	background: #F44283 !important;
}

.gwt-DatePicker {
	border: 1px solid #F44283 !important;
	border-top: 1px solid #F44283 !important;
	cursor: default;
}

/* Menu contenuto dentro la barra*/
td#gwt-uid-1:hover, td#gwt-uid-2:hover, td#gwt-uid-3:hover, td#gwt-uid-4:hover,
	td#gwt-uid-6:hover, td#gwt-uid-7:hover, td#gwt-uid-8:hover, td#gwt-uid-9:hover
	{
	border: #F44283 solid 1px !important;
	background: #F44283 !important;
	color: #000000!important;
	text-align: center;
	
}

#gwt-uid-5:hover {
	background: #F44283 !important;
	border: #F44283 solid 1px;
	border-radius: 50px;
	margin-bottom: 10px;
}

.gwt-Button:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #F44283
		), color-stop(1, #F44283)) !important;
	background: -moz-linear-gradient(top, #F44283 5%, #F44283 100%)
		!important;
	background: -webkit-linear-gradient(top, #F44283 5%, #F44283 100%)
		!important;
	background: -o-linear-gradient(top, #F44283 5%, #F44283 100%) !important;
	background: -ms-linear-gradient(top, #F44283 5%, #F44283 100%)
		!important;
	background: linear-gradient(to bottom, #F44283 5%, #F44283 100%)
		!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F44283',
		endColorstr='#F44283', GradientType=0) !important;
	background-color: #F44283 !important;
}

.gwt-Button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #555753
		), color-stop(1, #F44283)) !important;
	background: -moz-linear-gradient(top, #F44283 5%, #F44283 100%)
		!important;
	background: -webkit-linear-gradient(top, #F44283 5%, #F44283 100%)
		!important;
	background: -o-linear-gradient(top, #F44283 5%, #F44283 100%) !important;
	background: -ms-linear-gradient(top, #F44283 5%, #F44283 100%)
		!important;
	background: linear-gradient(to bottom, #F44283 5%, #F44283 100%)
		!important;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F44283',
		endColorstr='#F44283', GradientType=0) !important;
	background-color: #F44283!important;
	-moz-border-radius: 6px !important;
	-webkit-border-radius: 6px !important;
	border-radius: 20px !important;
	border: 1px solid #F44283 !important;
	display: inline-block !important;
	cursor: pointer !important;
	color: #ffffff !important;
	font-family: Calibri !important;
	font-size: 15px !important;
	font-weight: bold !important;
	padding: 6px 24px !important;
	text-decoration: none !important;
}

/* Selezione menu */
.gwt-MenuBar .gwt-MenuItem-selected {
	background: #F44283 !important;
	border-radius: 15px;
}

/* Sottomenu */
.gwt-MenuBar-vertical .gwt-MenuItem {
	padding: 2px 40px 2px 1px;
	background: #ffffff!important;
	color: black !important;
	font-size: 14px !important;
}

/* Sottomenu */
.gwt-MenuBar-vertical .gwt-MenuItem-selected {
	background: #F44283 !important;
	border-radius: 10px;
}

/* Scritte menu */
.gwt-MenuBar-horizontal .gwt-MenuItem {
	padding: 10 10px;
	vertical-align: left;
	color: #000000!important;
	font-weight: normal !important;
	font-size: 14px !important;
	position: relative;
}

/*upper menu*/
.gwt-MenuBar-horizontal {
	border-radius: 10px;
	width: 99.8% !important;
	background: #F44283 !important;
	height: 50px !important;
	
}

element.style {
	outline: 0px !important;
	width: 120% !important;
	height: 10% !important;
	position: absolute;
	left: 0px;
	top: 0px;
}

.gwt-TextBox {
	padding: 5px 4px;
	border: 1px solid #000000!important;
	border-top: 1px solid #000000 !important;
	font-size: small;
	font-family: Calibri;
	border-radius: 50px;
}

.gwt-PasswordTextBox {
	padding: 5px 4px;
	border: 1px solid #000000!important;
	border-top: 1px solid #000000 !important;
	font-size: small;
	font-family: Calibri;
	border-radius: 50px;
}


/** regole di template*/
h3 {
	margin-top: 25% !important;
	font-size: 7em;
	font-family: Calibri;
	color: #000000;
	margin: 40px 0px 40px;
	text-align: center;
}

h2 {
	font-family: Calibri, monospace;
	font-size: 2em;
	text-align: center;
	margin-top: 5%;
	color: #000000;
}

h1 {
	margin-top: 20% !important;	
	font-family: Calibri, monospace;
	font-size: 4em;
	color: #000000;
	text-align: center;
	
}


.gwt-Label {
	font-size: 15px;
	color: #000000;
}

.sendButton {
	display: block;
	font-size: 16pt;
}

/**  GWT widgets  */
.gwt-DialogBox {
	width: 400px;
	position: center;
}

.dialogVPanel {
	margin: 30px;
}

.serverResponseLabelError {
	color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
	margin: 15px 6px 6px;
}


.gwt-Grid {
	padding: 40px 40px 40px 40px;
}
